body{
    background-color:rgb(233, 233, 169);
}
.dish1{
    position:relative;
    display: inline-block;
    height:350px;
    width:200px;
    background-color: rgb(234, 234, 109);
    margin-left:200px;
    border-radius: 10%;
    box-shadow:5px 5px 2px black;
    transition-property:box-shadow ;
    transition-duration: 1s;

}
.circle{
    position:absolute;
    height:150px;
    width:150px;
    border-radius: 50%;

    left:25px;
    
    margin-top:50px;
   
}
.dish1 p{
    position:absolute;
    top:225px;
    left:20px;
    color:rgb(152, 146, 146);


}
.dish1 h3{
    position:absolute;
    top:190px;
    left:30px;

}
.dish1 .price{
    position:absolute;
    top:275px;
    left:70px;
    color:rgb(232, 108, 6)
}
.dish1:hover{
    box-shadow: 10px 10px 4px black;
}

.dish2{
    

    position:relative;
    display: inline-block;
    height:350px;
    width:200px;
    background-color: rgb(234, 234, 109);
    margin-left:200px;
    border-radius: 10%;
    box-shadow:5px 5px 2px black;
    transition-property:box-shadow ;
    transition-duration: 1s;
}
.dish2 .circle{
    position:absolute;
    height:150px;
    width:150px;
    border-radius: 50%;

    left:25px;
    
    margin-top:50px;
   
}
.dish2 p{
    position:absolute;
    top:225px;
    left:20px;
    color:rgb(152, 146, 146);


}
.dish2 h3{
    position:absolute;
    top:190px;
    left:40px;

}
.dish2 .price{
    position:absolute;
    top:275px;
    left:70px;
    color:rgb(232, 108, 6)
}
.dish2:hover{
    box-shadow: 10px 10px 4px black;
}


.dish3{
    
    position:relative;
    display: inline-block;
    height:350px;
    width:200px;
    background-color: rgb(234, 234, 109);
    margin-left:200px;
    border-radius: 10%;
    box-shadow:5px 5px 2px black;
    transition-property:box-shadow ;
    transition-duration: 1s;
}

.dish3 .circle{
    position:absolute;
    height:150px;
    width:150px;
    border-radius: 50%;

    left:25px;
    
    margin-top:50px;
   
}
.dish3 p{
    position:absolute;
    top:225px;
    left:20px;
    color:rgb(152, 146, 146);
    font-size:0.9em;


}
.dish3 h3{
    position:absolute;
    top:190px;
    left:40px;

}
.dish3 .price{
    position:absolute;
    top:275px;
    left:70px;
    color:rgb(232, 108, 6)
}
.dish3:hover{
    box-shadow: 10px 10px 4px black;
}
