body{
    background-color:rgb(247, 51, 247);
}
.container{

    position:relative;
    border:solid black 2px;
    width:400px;
    height:400px;
    margin:auto;
    border-radius:30px;
    box-shadow: 5px 5px 2px black;
    transition-property:box-shadow ;
    transition-duration: 1s;
    background-color:white;
}
.circle{
    position:absolute;
    height:150px;
    width:150px;
    
    border-radius:50%;
    background-color: black;
    left:125px;
    top:20px;
    
    

}
.container h2{
    position: relative;
    top:170px;
    left:120px;
}
.container p{
    position:absolute;
    top:210px;
    left:150px;
    font-size: 1.3em;
}
.container .p2{
    position:absolute;
    top:240px;
    left:130px;
    font-size: 1.3em;
}
.container .b1{
    position: absolute;
    top:310px;
    height:50px;
    width:100px;
    border-radius: 30px;
    left:90px;
    background-color: rgb(40, 121, 233);
    color:white;
    transition-property: box-shadow;
    transition-duration: 1s;
}
.container .b2{
    position: absolute;
    top:310px;
    height:50px;
    width:100px;
    border-radius: 30px;
    left:200px;
    transition-property: box-shadow;
    transition-duration: 1s;
}
.container .b1:hover{
    box-shadow: 5px 5px 4px blue;
}
.container:hover{
    box-shadow: 10px 10px 4px black;
}
.container .b2:hover{
    box-shadow: 5px 5px 4px black;
}